body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffdd0;
    font-family: 'Bubblegum Sans', cursive;
}

h3{
    margin: 0;
}

#block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(222, 184, 135, 0.3);
    border-radius: 50px;
    margin: 25px;
    padding: 20px;
}

#info_container img{
    width: 96px;
    height: 96px;
    margin-right: 10px;
    cursor: pointer;
}

#restart_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.cell{
    background-color: #93c572;
    height: 70px;
    width: 70px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: -2px -1px 5px 1px rgba(34, 60, 80, 0.1);
    transition: all 0.2s ease;
    background-size: 0px;
    transform: scale(1);
}

.cell.setted{
    background-color: #AD8A64
}

.cell.block{
    background-color: #963232;
}

.cell.start, .cell.end {
    background-color: #8f6a4e
}

.cell.active{
    background-image: url("/static/img/snake.webp");
    background-position: center;
    background-size: contain;
}

.cell.hover:hover{
    transform: scale(1.1);
    background-color: #90cf66;
    cursor: pointer;
}

#info_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0;
    flex-direction: column;
    color: #6B4C3B;
}

#main_container{
    display: flex;
}

#restart_container{
    display: flex;
}

